.blog__wrpr{
    
}
.blogTitle__wrpr{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 140px;
}

.blog__title{

    h3{
        color: #0F2137;
    }
}

.blogCard__wrpr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.blog__card{
    width: 100%;
}


.blog__img{
    border-radius: 6px;
    overflow: hidden;

    img{
        transition: 0.3s;
    }
}

.blog__card:hover .blog__img img{
    transform: scale(1.2,1.2);
}

.blog__text{
    padding: 20px 0px;

    span{
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #0F2137;
        opacity: 0.7;
        display: block;
        margin-bottom: 10px;
    }

    p{
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 10px;
        /* or 156% */


        color: #0F2137;
    }

    a{
        font-weight: 500;
        font-size: 14.5px;
        line-height: 20px;
        /* identical to box height, or 133% */


        color: #3183FF;
    }

    a i{
        margin-left: 3px;
        transition: 0.3s;
            position: relative;
            top: 1px;
            font-size: 12px;
    }

    a:hover i {
        margin-left: 10px;
    }

}